imagePullSecrets:
  - name: ghcr-secret
image:
  repository: ghcr.io/josephgultekin/springboot-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 250m

env:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgresql.lab01.svc.cluster.local:5432/lab01db"
  SPRING_DATASOURCE_USERNAME: "postgres"
