image:
  repository: postgres
  tag: 16.1
  pullPolicy: IfNotPresent

postgresqlPassword: ""
postgresqlUser: "postgres"
postgresqlDatabase: "lab01db"

persistence:
  enabled: true
  size: 8Gi

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m

service:
  type: NodePort
  port: 5432
  nodePort: 30432
