replicaCount: 1
image:
  repository: debezium/connect
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8083
resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi
