image:
  repository: ghcr.io/josephgultekin/fastapi-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 250m

env:
  DATABASE_URL: "postgresql+asyncpg://postgres:password@postgresql.lab01.svc.cluster.local:5432/lab01db"
